@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* nav bar css design */

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: skyblue;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.white-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffff;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.white-link:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.coool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2975f0;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.coool-link:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.library{
    background: linear-gradient(rgba(0, 0, 0, 0.584), rgba(0, 0, 0, 0.575)),  url('/images/library.jpg');
    background-size: cover;
    background-position: center;
    
}